<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68111004900-8k4duqt5cspflg98v7ip0vvq8cbfvlgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68111004900-8k4duqt5cspflg98v7ip0vvq8cbfvlgu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>68111004900-p2ehin60qaif7sjsjbaim9oin36oaurh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4opqhDtlP2sRHlzY3Q_xd_-tJ33c4sN4</string>
	<key>GCM_SENDER_ID</key>
	<string>68111004900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eStore</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-47f22</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-47f22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68111004900:ios:5eb9278eff5334d91968f1</string>
</dict>
</plist>